@model Printilicious.Models.MenuViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/lib/respond.min.js"></script>
</head>
<body>
    <!-- *** TOPBAR *** -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>
                <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                @*<ul class="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                        <li>
                            <a href="register.html">Register</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="#">Recently viewed</a>
                        </li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- *** TOPBAR END *** -->
    <!-- *** NAVBAR *** -->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img height="50px" src="~/Content/images/logo.png" alt="Printilicious logo" class="hidden-xs">
                    <img src="~/Content/images/logo.png" alt="Printilicious logo" class="visible-xs">
                    <span class="sr-only">Printilicious - go to homepage</span>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-left">
                    @*<li class="active">
                            <a href="index.html">Home</a>
                        </li>*@
                    @if (Model != null)
                    {
                        foreach (var category in Model.ProductCategories)
                        {
                            <li class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">@category.ProductCategoryName <b class="caret"></b></a>
                                @if (@category.ChildProductCategories.Count != 0)
                                {
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    @foreach (var childCategory in category.ChildProductCategories)
                                                    {
                                                        <div class="col-md-3">
                                                            <ul>
                                                                <li>
                                                                    @Html.ActionLink(@childCategory.ProductCategoryName, "GetProductsForCategory", "Product", new { categoryCode = @childCategory.ProductCategoryCode }, null)
                                                                    @*<a href="category.html">@grandChildCategory.ProductCategoryName</a>*@
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                }
                                else
                                {

                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- *** NAVBAR END *** -->
    <div id="content">
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>
    <!-- *** FOOTER ***-->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>
                    <ul>
                        <li>
                            <a href="text.html">About us</a>
                        </li>
                        <li>
                            <a href="text.html">Terms and conditions</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                    </ul>
                    <hr>
                    <h4>User section</h4>
                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                        <li>
                            <a href="register.html">Regiter</a>
                        </li>
                    </ul>
                    <hr class="hidden-md hidden-lg hidden-sm">
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h4>Top categories</h4>
                    <h5>Men</h5>
                    <ul>
                        <li>
                            <a href="category.html">T-shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Accessories</a>
                        </li>
                    </ul>
                    <h5>Ladies</h5>
                    <ul>
                        <li>
                            <a href="category.html">T-shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Skirts</a>
                        </li>
                        <li>
                            <a href="category.html">Pants</a>
                        </li>
                        <li>
                            <a href="category.html">Accessories</a>
                        </li>
                    </ul>
                    <hr class="hidden-md hidden-lg">
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h4>Where to find us</h4>
                    <p>
                        <strong>Obaju Ltd.</strong>
                        <br>13/25 New Avenue
                        <br>New Heaven
                        <br>45Y 73J
                        <br>England
                        <br>
                        <strong>Great Britain</strong>
                    </p>
                    <a href="contact.html">Go to contact page</a>
                    <hr class="hidden-md hidden-lg">
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <h4>Get the news</h4>
                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Subscribe!</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                    <hr>
                    <h4>Stay in touch</h4>
                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>

                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- *** FOOTER END *** -->
    <!-- *** COPYRIGHT ***-->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© @DateTime.Now.Year Printilicious.</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href="https://fity.cz">Fity</a>
                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
